
/* ---------------- FOOTER ---------------- */

footer {
    background: linear-gradient(to right, #0b0f29, #141b3c);
    padding: 50px 0;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.footer_class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_h1{
    font-size: 2rem;
}
.second_box a{
    text-decoration: none;
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight:600;
}

.second_box a:hover {
    color: #00aaff;
}

.footer-hr {
    width: 80%;
    max-width: 900px;
    border: none;
    height: 3px;
    margin: 25px auto;
    background: linear-gradient(to right, #474f9e, #82d9ff);
    border-radius: 10px;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-images {
        flex-direction: column;
        align-items: center;
    }
    .all_blogs {
        flex-direction: column;
        align-items: center;
    }
}
