<!-- ================= FOOTER ================= -->
    <footer>
        <div class="footer_class">
            <h1 class="footer_h1">Waves of Words</h1>
            <div class="second_box">
                <a href="/">Home</a>
                <a href="">Blogs</a>
            </div>
        </div>
        <hr class="footer-hr">

        <p class="copyright">© 2025 Waves of Words</p>
    </footer>